/.idea/
*.sqlite3
*.db
__pycache__
/static/
*.pyc
/venv/
/logs/
/media/
celerybeat-schedule
.env
.coverage
htmlcov
.env
backend/static/
volumes/postgres/
volumes/logs/*
!volumes/logs/.gitkeep
volumes/static/*
!volumes/static/.gitkeep
volumes/media